.cover{
    border-radius:20px;
    height:200px;
    width: 200px;
    opacity:1;
    transition: opacity .3s ease-out; 
}

.cover:hover{
    opacity:0.8;
    transition: opacity .3s ease-out;
}

h4 {
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 3px solid darkslategray;
    text-align: center;
}

.artist {
    margin-top: -20px;
    font-weight: 300;
  }