.cover{
    border-radius:20px;
    height:200px;
    width: 200px;
    opacity:1;
    transition: opacity .3s ease-out; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cover:hover{
    opacity:0.8;
    transition: opacity .3s ease-out;
}

.artist {
    margin-top: -20px;
    font-weight: 300;
  }
