.usuarios{
    margin-top:250px;
}


.userImg{
    height:50%;
    width:25%;
    cursor:pointer;
    object-fit:contain;
}

.users{
    margin-top:50px;
}

.rol{
    font-weight: 300;
    margin-top:-15px;
}